absl-py==2.1.0
AccessControl==6.0
Acquisition==5.0
affinegap==1.12
aiofiles==23.2.1
aiohappyeyeballs==2.3.4
aiohttp==3.10.0
aioodbc==0.5.0
aiosignal==1.3.1
altair==5.2.0
altgraph==0.17.3
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
apprise==1.3.0
argcomplete==1.10.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.7.2
asn1crypto==1.5.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.3
atpublic==5.0
attrs==23.2.0
AuthEncoding==5.0
auto-py-to-exe==2.42.0
azure-core==1.29.5
azure-storage-blob==12.20.0
Babel==2.15.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.1
beautifulsoup4==4.12.3
bert-extractive-summarizer==0.10.1
bleach==6.0.0
blinker==1.7.0
blis==0.7.11
bokeh==2.4.3
boto3==1.34.112
botocore==1.34.112
bottle==0.12.25
bottle-websocket==0.2.9
Bottleneck==1.4.0
brotlipy==0.7.0
bs4==0.0.1
BTrees==5.0
cachetools==5.3.2
captcha==0.5.0
catalogue==2.0.10
categorical-distance==1.9
certifi==2024.8.30
Chameleon==4.0.0
chardet==3.0.4
Chroma==0.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.18
ci-info==0.3.0
cleaner==0.4.0
click==8.1.7
clize==5.0.2
cloudpathlib==0.16.0
cloudpickle==2.2.1
cloudscraper==1.2.71
colorama==0.4.6
colorclass==2.2.2
colored==1.4.4
coloredlogs==15.0.1
comm==0.1.3
compressed-rtf==1.0.6
confection==0.1.3
configobj==5.0.8
configparser==7.0.0
contourpy==1.0.7
cosine-similarity==0.1.2
cssselect==1.2.0
cx-Oracle==8.3.0
cycler==0.11.0
cymem==2.0.8
dask==2023.4.1
dataclasses-json==0.6.7
datasets==2.20.0
DateTime==5.1
datetime-distance==0.1.3
debugpy==1.6.7
decorator==5.1.1
dedupe==2.0.23
dedupe-Levenshtein-search==1.4.5
dedupe-variable-datetime==0.1.5
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.4.2
DocumentTemplate==4.4
docutils==0.21.2
docx2txt==0.8
docxcompose==1.4.0
docxtpl==0.17.0
DoubleMetaphone==1.1
driver==0.1.0
easygui==0.98.3
ebcdic==1.1.1
Eel==0.16.0
elastic-transport==8.10.0
elasticsearch==8.11.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.2.2
executing==0.8.3
ExtensionClass==5.0
extract-msg==0.29.0
faiss-cpu==1.8.0
fake-useragent==1.4.0
fastapi==0.104.1
fastcluster==1.2.6
fastjsonschema==2.16.3
ffmpy==0.4.0
filelock==3.13.1
Flask==2.2.5
Flask-Cors==3.0.10
Flask-SQLAlchemy==3.0.3
flatbuffers==24.3.25
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2023.5.0
future==0.18.3
fuzzywuzzy==0.18.0
gast==0.6.0
gensim==4.3.2
gevent==23.9.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.40
Gooey==1.0.8.1
google-auth==2.24.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
gradio==4.42.0
gradio_client==1.3.0
greenlet==3.0.3
grpcio==1.59.3
h11==0.14.0
h5py==3.11.0
haversine==2.8.0
highered==0.2.1
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.24.5
humanfriendly==10.0
idna==3.8
IMAPClient==2.1.0
importlib-metadata==6.6.0
importlib-resources==6.1.1
inexactsearch==1.0.2
ipykernel==6.23.0
ipython==8.13.2
ipython-genutils==0.2.0
ipywidgets==7.7.5
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.0.3
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-ng==1.5.3
jsonpointer==2.1
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.4
keras==3.4.1
kiwisolver==1.4.4
kubernetes==28.1.0
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.26
langchain-text-splitters==0.2.2
langcodes==3.3.0
langsmith==0.1.95
lark==1.1.9
libclang==18.1.1
llama-cloud==0.0.11
llama-index==0.10.59
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.59
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.7
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.27
llama-index-multi-modal-llms-openai==0.1.8
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.32
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.9
locket==1.0.0
loguru==0.7.2
looseversion==1.3.0
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
marshmallow==3.21.3
marshmallow-enum==1.5.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
Metaphone==0.6
milvus==2.2.8
mistune==2.0.5
mkl-fft==1.3.6
mkl-service==2.4.0
ml-dtypes==0.4.0
mmh3==4.0.1
monotonic==1.6
MouseInfo==0.1.3
mpmath==1.3.0
msoffcrypto-tool==5.4.2
multidict==6.0.5
MultiMapping==5.0
multipart==0.2.4
multiprocess==0.70.16
murmurhash==1.0.10
myModule==1.0.0
mypy-extensions==1.0.0
mysql-connector-python==8.2.0
namex==0.0.8
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.6.0
networkx==3.3
nibabel==5.2.1
nipype==1.8.6
nltk==3.8.1
notebook==6.5.4
notebook_shim==0.2.3
numexpr==2.10.1
numpy==1.26.3
oauthlib==3.2.2
od==2.0.2
olefile==0.47
oletools==0.60.2
onnxruntime==1.16.3
openai==1.37.1
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-asgi==0.42b0
opentelemetry-instrumentation-fastapi==0.42b0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-util-http==0.42b0
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.6
overrides==7.4.0
packaging==23.1
pandas-dedupe==1.5.0
pandocfilters==1.5.0
parse==1.20.0
parso==0.8.3
partd==1.4.0
PasteDeploy==3.1.0
patsy==1.0.1
pcodedmp==1.2.6
pdfminer.six==20240706
pdfplumber==0.10.3
pefile==2023.2.7
Persistence==4.0.post1
persistent==5.0
pickleshare==0.7.5
pillow==10.4.0
pinecone-client==2.2.4
pipdeptree==2.23.1
platformdirs==3.5.0
plotly==5.24.1
ply==3.11
posthog==3.1.0
preshed==3.0.9
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.21.12
prov==2.0.0
psutil==5.9.5
pulsar-client==3.3.0
pure-eval==0.2.2
py2exe==0.13.0.1
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycryptodome==3.20.0
pydantic_core==2.20.1
pydeck==0.8.1b0
pydot==1.4.2
pydub==0.25.1
pyee==8.2.2
PyGetWindow==0.0.9
Pygments==2.15.1
pygtrie==2.5.0
pyhacrf-datamade==0.2.6
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
PyJWT==2.9.0
PyLBFGS==0.2.0.14
PyMsgBox==1.0.9
PyMuPDF==1.24.5
PyMuPDFb==1.24.3
pyodbc==4.0.39
pypandoc==1.11
pyparsing==3.0.9
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.24.0
pyperclip==1.9.0
PyPika==0.48.9
pypng==0.20220715.0
pyppeteer==1.0.2
pyquery==2.0.0
pyreadline3==3.4.1
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.30
pyspellchecker==0.8.1
pytesseract==0.3.10
python-crfsuite==0.9.8
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.0
python-gettext==5.0
python-json-logger==2.0.7
python-multipart==0.0.9
python-pptx==0.6.21
python-stdnum==1.18
PyTrie==0.4.0
pytweening==1.2.0
pytz==2023.3
PyVirtualDisplay==3.0
pywin32==305.1
pywin32-ctypes==0.2.2
pywinpty==2.0.10
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==25.0.2
qrcode==7.4.2
rapidfuzz==2.15.1
rdflib==7.0.0
red-black-tree-mod==1.20
regex==2023.5.5
requests==2.32.3
requests-html==0.10.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
RestrictedPython==7.0a1.dev0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rlr==2.4.6
roman==4.0
rsa==4.9
RTFDE==0.1.2
ruff==0.5.5
s3transfer==0.10.1
safetensors==0.4.3
schedule==1.2.2
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.2
selenium==4.19.0
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
shellingham==1.5.4
sigtools==4.0.1
silpa-common==0.3
simplecosine==1.2
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
snowflake==0.12.0
snowflake-connector-python==3.12.1
snowflake-snowpark-python==1.21.0
snowflake._legacy==0.12.0
snowflake.core==0.12.0
soundex==1.1.3
soupsieve==2.5
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.8.1
spellchecker==0.4
SQLAlchemy==1.3.24
srsly==2.4.8
stack-data==0.5.1
starlette==0.27.0
statsmodels==0.14.4
stopwords==1.0.0
streamlit==1.29.0
streamlit-aggrid==0.3.4.post3
striprtf==0.0.26
summarizer==0.0.7
sympy==1.12
tenacity==8.5.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.17.1
textblob==0.18.0.post0
textract==1.6.5
thinc==8.2.5
threadpoolctl==3.1.0
tiktoken==0.7.0
tinycss2==1.2.1
tksplash==0.0.8
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.0
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tornado==6.3.1
tqdm==4.66.4
traitlets==5.9.0
traits==6.3.2
transaction==3.1.0
transformers==4.43.3
ttkwidgets==0.13.0
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2023.4
tzlocal==5.2
Unidecode==1.3.6
uri-template==1.2.0
urllib3==2.2.3
uvicorn==0.24.0.post1
validators==0.22.0
varname==0.8.3
w3lib==2.1.2
waitress==2.1.2
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.21.0
wcwidth==0.2.6
weasel==0.4.1
webcolors==1.13
webdriver-manager==4.0.1
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.5.1
websockets==10.4
WebTest==3.0.0
Werkzeug==2.3.4
whichcraft==0.6.1
Whoosh==2.7.4
widgetsnbextension==3.6.4
wikipedia==1.4.0
win32-setctime==1.1.0
win_unicode_console==0.5
wincertstore==0.2
wordcloud==1.9.1.1
wrapt==1.16.0
WSGIProxy2==0.5.1
wxPython==4.2.0
xlrd==1.2.0
XlsxWriter==3.1.0
xxhash==3.4.1
yarl==1.9.4
z3c.pt==4.0
zc.lockfile==3.0.post1
ZConfig==4.0
zExceptions==4.3
zipp==3.15.0
ZODB==5.8.0
zodbpickle==3.0.1
Zope==5.8.1
zope.annotation==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.0
zope.cachedescriptors==5.0
zope.component==6.0
zope.configuration==5.0
zope.container==5.1
zope.contentprovider==5.0
zope.contenttype==5.0
zope.datetime==5.0.0
zope.deferredimport==4.4
zope.deprecation==5.0
zope.dottedname==6.0
zope.event==4.6
zope.exceptions==4.6
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==5.4
zope.i18n==5.0
zope.i18nmessageid==6.0.1
zope.index==6.0
zope.interface==6.0
zope.lifecycleevent==4.4
zope.location==4.3
zope.pagetemplate==5.0
zope.processlifetime==3.0
zope.proxy==5.0.0
zope.ptresource==5.0
zope.publisher==6.1.0
zope.schema==7.0.1
zope.security==6.1
zope.sequencesort==5.0
zope.site==4.6.1
zope.size==4.4
zope.structuredtext==4.4
zope.tal==5.0.1
zope.tales==5.2
zope.testbrowser==6.0
zope.testing==5.0.1
zope.traversing==5.0
zope.viewlet==5.0
zstandard==0.19.0
